{% extends 'base.html' %}

{% block title %} 
  Homepage 
{% endblock %}

{% block page_specific_js %} 
<script src="/static/homepage.js"></script>  
{% endblock %}

{% block content %}

  <h1>Deep thoughts by Poppy...</h1>
  <h3>Poppy is a lion bear, a cuddler, and a squirrel chaser. She's also a deep thinker, a dreamer if you will. </h3>

  <img id="poppypic" src="/static/poppy.jpg" class="center" alt="Poppy" width="279" height="268">
    <br>
    <br>
      <form id="tweetgenerator" method="POST">
        Give her the Twitter handle of the user you'd like her thoughts on: 
        <input id="handle" type="text" name="twitterhandle">
        <input id="submit" type="submit" value="Generate Poppy's Thoughts">
      </form>
<br><br>
      <div id="newtweet">
      </div>
<br><br>
      <div id="pasttweets">
      </div>

{% endblock %}