{% extends 'base.html' %}

{% block title %} 
  Homepage 
{% endblock %}

{% block page_specific_js %} 
<script src="/static/homepage.js"></script>  
{% endblock %}

{% block content %}


  <h1>Deep thoughts by Poppy...</h1>
  <h3>Poppy is a lion bear, a cuddler, and a squirrel chaser. She's also a deep thinker, a dreamer if you will. </h3>

  <img src="/static/poppy.jpg" alt="Poppy" width="279" height="268">
    <br>
    <br>
      <form action="/get-tweets" method="POST">
        Give her the Twitter handle of the user you'd like her thoughts on: 
        <input type="text" name="twitterhandle">
        <input type="submit" value="Generate Poppy's Thoughts">
      </form>

{% endblock %}